*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-white: #ffffff;
  --main-red: #cf3a59;
  --main-blue: #081a51;
  --main-background: #f8f9ff;
  --main-lines: #dadada;
  --btn-blue: #017efa;
  --font-blue: #51cbff;
}

@font-face {
  font-family: "GilroySemiBold";
  src: url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "GilroyMedium";
  src: url(../fonts/Gilroy-Medium.ttf);
}

body {
  font-family: "GilroySemiBold", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

#header-container {
  position: fixed;
  top: 0;
  left: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--main-lines);
  width: calc(100vw - 300px);
  height: 70px;
  background: var(--main-background);
}
.user-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* margin: 0.5rem 0 0.5rem 0; */
  border-right: 1px solid var(--main-lines);
  flex-grow: 0.5;
}
.foto-perfil {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

#user-name {
  font-family: "GilroySemiBold";
  color: var(--font-black);
  margin: 5px 1rem 0 1rem;
}

#user-email {
  font-family: "GilroyMedium";
  font-size: 14px;
  color: var(--font-black);
  margin: 0 1rem 0.25rem 1rem;
}

#user-chevron {
  transform: rotateZ(-90deg);
  color: var(--font-black);
}
#user-chevron:hover {
  animation-fill-mode: forwards;
  transform: rotateZ(0deg);
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
.search-bar-container {
  padding: 15px 60px;
  background-color: var(--search);
  margin: 0.5rem 0 0.5rem 2rem;
  border-radius: 8px;
  background-image: url("../assets/search-icon.svg");
  background-position: left;
  background-position-x: 20px;
  background-repeat: no-repeat;
  flex-grow: 10;
}

.user-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 0 1rem;
  flex-grow: 0.5;
}

.dot-status {
  height: 8px;
  width: 8px;
  margin: 0 0.25rem;
  background-color: #30d988;
  border-radius: 50%;
}
#user-status-text {
  font-family: "GilroySemiBold";
  color: #30d988;
  cursor: pointer;
}

.friends-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 0.5rem 0; */
  height: 50px;
  border-right: 1px solid var(--main-lines);
  flex-grow: 1;
}

.friend-image-container {
  border: 3px solid var(--main-white);
  border-radius: 50%;
  width: 40px;
  background-color: #cf3a59;
  object-fit: cover;
  margin: -0.6rem;
  transition: all 0.05s ease-in-out;
}

#first-friend:hover,
#second-friend:hover,
#third-friend:hover,
#fourth-friend:hover {
  transform: scale(1.1);
}

#first-friend {
  z-index: 4;
}
#second-friend {
  z-index: 3;
}

#third-friend {
  z-index: 2;
}

#fourth-friend {
  z-index: 1;
}

#darkMode-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 50px; */
}

#darkMode-icon {
  height: 60px;
  margin: 0 1rem;
  margin-top: 10px;
  flex-grow: 0.1;
  cursor: pointer;
}

#darkMode-icon:hover {
  filter: invert(1);
}

#darkMode-icon:active {
}

@media (max-width: 768px) {
  #header-container {
    /* position: inherit; */
    top: 0;
    left: 0;
    width: 872px;
    /* max-width: 872px; */
  }

  #user-name,
  #user-email {
    display: none;
  }
  .user-container {
    /* flex-grow: 0.3; */
  }

  .search-bar-container {
    /* flex-grow: 0.2; */
    width: 50px;
  }

  .friends-container {
    width: 100px;
    /* flex-grow: 0.1; */
  }

  #darkMode-icon {
    width: 150px;
    /* flex-grow: 3; */
  }
}
