/* .page-container-perfil {
  display: flex;
  justify-content: center;
  background-color: rebeccapurple;
  width: 100%;
  height: 100%;
} */

.form-g input {
  width: 100%;
  min-height: 40px;
  border: none;

  margin: 0.5rem 0;
  padding: 0.8em;
  background: #f4f4f4;
  border-radius: 5px;
}

.sideBySideForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0 3rem;
}

.form-m {
  width: 100%;
}

.form-m input,
select {
  width: 100%;
  min-height: 40px;
  border: none;

  margin: 0.5rem 0;
  padding: 0.8em;
  background: #f4f4f4;
  border-radius: 5px;
}

.buttonInput {
  position: absolute;
  top: 1.3rem;
  right: 10px;
  bottom: 0;

  height: 20px;
  width: 20px;

  background-color: #f4f4f4;
  border: none;
  outline: none;
}

.buttonInside {
  position: relative;
}

.buttonInput:hover {
  transform: scale(1.2);
}
.lapiz {
  margin-left: 7px;
}

.perfil-content-container {
  min-height: 400px;
  min-width: 350px;
  padding-top: 2rem;
}
.top-section-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-left-container {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  padding: 0 2rem;
}

.form-right-container {
  display: flex;
  flex-direction: column;
  padding-right: 3rem;
}

.large-foto-perfil {
  border-radius: 10px;
  width: 160px;
  height: 181px;
  object-fit: cover;
}

.bottom-section-container {
  padding: 0 3rem 0 2rem;
}

.buttons-section {
  display: flex;
  flex-direction: end;
}
.perfil-btn-container {
  width: 100%;
  margin: 1rem 3rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.perfil-btn {
  height: 40px;
  margin: 0 0 1rem 1rem;
  padding: 0 2rem;
  border-radius: 6px;
  font-family: "GilroyMedium", sans-serif;
  font-size: 18px;
  background-color: var(--btn-blue);
  color: white;
  box-shadow: 0 0 40px 40px var(--btn-blue) inset, 0 0 0 0 var(--btn-blue);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.perfil-btn:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

#cancelar-btn {
  box-shadow: 0 0 40px 40px var(--main-white) inset;
  color: black;
}
#salvar-btn {
  padding: 0 5rem;
}

#removerFoto-btn {
  text-align: center;
  color: #3498db;
  height: 40px;
  border-radius: 6px;
  font-family: "GilroyMedium", sans-serif;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
}

.fileInput {
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  font-size: 50px;
  opacity: 0;
  -moz-opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

.file-submit-wrapper {
  height: 40px;
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  background-color: #f4f4f4;
  text-align: center;
  border-radius: 6px;
  font-family: "GilroySemiBold", sans-serif;
  font-size: 16px;
  line-height: 40px;
}
