*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-white: #ffffff;
  --main-post: #ffffff;
  --main-shadow: #f1f2fa;
  --main-red: #cf3a59;
  --main-blue: #081a51;
  --main-background: #f8f9ff;
  --main-lines: #dadada;
  --btn-blue: #017efa;
  --font-blue: #51cbff;
}

@font-face {
  font-family: "GilroySemiBold";
  src: url(../fonts/Gilroy-SemiBold.ttf);
}

@font-face {
  font-family: "GilroyMedium";
  src: url(../fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "GilroyLight";
  src: url(../fonts/Gilroy-Light.ttf);
}
body {
  font-family: "GilroySemiBold", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  color: black;
}
.postAndtags-container {
  margin: 2.5rem 5rem;
}
.post-container {
  display: flex;
  flex-direction: column;
  background-color: var(--main-post);
  color: var(--font-black);
  border-radius: 8px;
  box-shadow: 0px 5px 10px var(--glow);
  z-index: 2;
  min-width: 350px;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
  min-height: 80px;
  padding: 0 2rem;
  border-bottom: 1px solid var(--main-lines);
  flex-grow: 1;
}

.post-image-container {
  border-radius: 10px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.post-userInfo,
.post-dateInfo {
  display: flex;
  align-items: center;
}

.post-username {
  font-family: "GilroySemiBold";
  margin: 0 1rem 0 1rem;
}

.post-date {
  font-family: "GilroyLight";
  margin: 0 1rem 0 0.5rem;
}

.post-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: fit-content;
  min-width: 350px;
  padding-bottom: 2rem;
}

.post-title {
  padding: 2rem 4rem;
  font-size: 2rem;
}

.post-content {
  text-align: justify;
  font-size: 1.2rem;
  font-family: "GilroyMedium";
  padding: 0 4rem;
}

.reactions-container {
  display: flex;
  flex-direction: row-reverse;
  height: 20px;
  z-index: -1;
}

.tags-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 20px;
  margin-bottom: 1rem;
}

.tags-left {
  display: flex;
}

@media (max-width: 425px) {
  .postAndtags-container {
    margin: 1rem 0 3rem 0;
    max-width: 400px;
  }

  .post-container {
    display: flex;
    flex-direction: column;
    background-color: var(--main-post);
    color: var(--font-black);
    border-radius: 8px;
    box-shadow: 0px 5px 10px var(--glow);
    z-index: 2;
    /* min-width: 250px; */
  }

  .post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-basis: 100%;
    min-height: 60px;
    /* padding: 0 2rem; */
    border-bottom: 1px solid var(--main-lines);
    flex-grow: 1;
  }

  .post-image-container {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .post-userInfo,
  .post-dateInfo {
    display: flex;
    align-items: center;
  }

  .post-username {
    font-family: "GilroySemiBold";
    margin: 0 1rem 0 1rem;
  }

  .post-date {
    font-family: "GilroyLight";
    margin: 0 1rem 0 0.5rem;
  }

  .post-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: fit-content;
    min-width: 350px;
    padding-bottom: 2rem;
  }

  .post-title {
    padding: 1.5rem 2rem 0 1.5rem;
    font-size: 1.5rem;
  }

  .post-content {
    text-align: justify;
    font-size: 1.1rem;
    font-family: "GilroyMedium";
  }

  .reactions-container {
    display: flex;
    flex-direction: row-reverse;
    height: 20px;
    z-index: -1;
  }

  .tags-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 20px;
    width: auto;
    margin-bottom: 1rem;
  }

  .tags-left {
    display: flex;
    width: auto;
  }
}
